################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
.DS_Store
ExcelXmlQueryResults/.DS_Store
ExcelXmlQueryResults/bin/
ExcelXmlQueryResults/obj/
ExcelXmlWriter/bin/
ExcelXmlWriter/obj/
ExcelXmlWriterNTest/obj/
/.vs/Tsoyeow/v14/.suo
/ExcelXmlQueryResults/bin/Debug/$RANDOM_SEED$
/ExcelXmlQueryResults/bin/Debug/Ionic.Zip.dll
/ExcelXmlQueryResults/bin/Debug/ExcelXmlWriter.pdb
/ExcelXmlQueryResults/bin/Debug/ExcelXmlWriter.dll
/ExcelXmlQueryResults/bin/Debug/ExcelXmlQueryResults.vshost.exe.manifest
/ExcelXmlQueryResults/bin/Debug/ExcelXmlQueryResults.vshost.exe.config
/ExcelXmlQueryResults/bin/Debug/ExcelXmlQueryResults.vshost.exe
/ExcelXmlQueryResults/bin/Debug/ExcelXmlQueryResults.pdb
/ExcelXmlQueryResults/bin/Debug/ExcelXmlQueryResults.exe
/Tsoyeow.v12.suo
/ExcelXmlWriterNTest/obj/Debug/ExcelXmlWriterNTest.Properties.Resources.resources
/ExcelXmlWriterNTest/obj/Debug/ExcelXmlWriterNTest.pdb
/ExcelXmlWriterNTest/obj/Debug/ExcelXmlWriterNTest.exe
/ExcelXmlWriterNTest/obj/Debug/ExcelXmlWriterNTest.csprojResolveAssemblyReference.cache
/ExcelXmlWriterNTest/obj/Debug/ExcelXmlWriterNTest.csproj.GenerateResource.Cache
/ExcelXmlWriterNTest/obj/Debug/ExcelXmlWriterNTest.csproj.FileListAbsolute.txt
/ExcelXmlWriterNTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExcelXmlWriterNTest/bin/Debug/nunit.framework.xml
/ExcelXmlWriterNTest/bin/Debug/nunit.framework.dll
/ExcelXmlWriterNTest/bin/Debug/Ionic.Zip.dll
/ExcelXmlWriterNTest/bin/Debug/ExcelXmlWriterNTest.pdb
/ExcelXmlWriterNTest/bin/Debug/ExcelXmlWriterNTest.exe.config
/ExcelXmlWriterNTest/bin/Debug/ExcelXmlWriterNTest.exe
/ExcelXmlWriterNTest/bin/Debug/ExcelXmlWriter.pdb
/ExcelXmlWriterNTest/bin/Debug/ExcelXmlWriter.dll
/ExcelXmlWriterNTest/bin/Debug/ExcelXmlQueryResults.pdb
/ExcelXmlWriterNTest/bin/Debug/ExcelXmlQueryResults.exe
/ExcelXmlWriterNTest/bin/Debug/$RANDOM_SEED$
/ExcelXmlWriter/obj/Debug/ExcelXmlWriter.Resource1.resources
/ExcelXmlWriter/obj/Debug/ExcelXmlWriter.pdb
/ExcelXmlWriter/obj/Debug/ExcelXmlWriter.dll
/ExcelXmlWriter/obj/Debug/ExcelXmlWriter.csprojResolveAssemblyReference.cache
/ExcelXmlWriter/obj/Debug/ExcelXmlWriter.csproj.GenerateResource.Cache
/ExcelXmlWriter/obj/Debug/ExcelXmlWriter.csproj.FileListAbsolute.txt
/ExcelXmlWriter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExcelXmlWriter/bin/Debug/Ionic.Zip.dll
/ExcelXmlWriter/bin/Debug/ExcelXmlWriter.pdb
/ExcelXmlWriter/bin/Debug/ExcelXmlWriter.dll.config
/ExcelXmlWriter/bin/Debug/ExcelXmlWriter.dll
/ExcelXmlWriter/bin/Debug/$RANDOM_SEED$
/ExcelXmlQueryResults/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ExcelXmlQueryResults/obj/Debug/ExcelXmlQueryResults.Properties.Resources.resources
/ExcelXmlQueryResults/obj/Debug/ExcelXmlQueryResults.pdb
/ExcelXmlQueryResults/obj/Debug/ExcelXmlQueryResults.FormOptions.resources
/ExcelXmlQueryResults/obj/Debug/ExcelXmlQueryResults.FormEntrance.resources
/ExcelXmlQueryResults/obj/Debug/ExcelXmlQueryResults.exe
/ExcelXmlQueryResults/obj/Debug/ExcelXmlQueryResults.csprojResolveAssemblyReference.cache
/ExcelXmlQueryResults/obj/Debug/ExcelXmlQueryResults.csproj.GenerateResource.Cache
/ExcelXmlQueryResults/obj/Debug/ExcelXmlQueryResults.csproj.FileListAbsolute.txt
/ExcelXmlQueryResults/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExcelXmlQueryResults/obj/Debug/DesignTimeResolveAssemblyReferences.cache
