<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <appSettings>
    <add key="username" value="sa" />
    <add key="password" value="." />
    <add key="datasource" value="." />
    <add key="database" value="master" />
  </appSettings>
</configuration>