<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExcelXmlQueryResults.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExcelXmlQueryResults.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="ExcelXmlWriterStateSettings" type="System.Configuration.IgnoreSectionHandler">
      <section name="ColumnTypeMappings" type="System.Configuration.IgnoreSectionHandler"></section>
		<section name="ResultNames" type="System.Configuration.IgnoreSectionHandler"></section>
		<section name="ColumnsThatPreventNewWorksheets" type="System.Configuration.IgnoreSectionHandler"></section>
    </sectionGroup>
  </configSections><startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
		<add key="MaxRowsPerSheet" value="150000" />
		<!-- <add key="Server" value="localhost\djfrye2008_1" /> -->
    <add key="Server" value="DEREK-PC\SQLEXPRESS" />
    <add key="Database" value="a" />
		<add key="ExcelFileType" value="Xlsx" />
    <add key="ConnectionMethod" value="SSPI"/>
    <add key="ConnectionUsername" value="" />
    <add key="ConnectionPassword" value="" />
		<add key="CurrentCulture" value="en-US" />
		<add key="DefaultColumnType" value="General" />
		<add key="QueryTimeout" value="0" />
		<add key="NewResultSet" value="Worksheet" />
		<add key="WriteEmptyResultColumnHeaders" value="True" />
		<add key="AutoRewriteOverpunch" value="True" />
		<add key="MaximumWorkbookSizeInBytes" value="1073741824" />
		<add key="MaximumResultSetsPerWorkbook" value="99"/>
	</appSettings>
	<applicationSettings>
    <ExcelXmlQueryResults.Properties.Settings>
      <setting name="CurrentCulture" serializeAs="String">
        <value>en-US</value>
      </setting>
    </ExcelXmlQueryResults.Properties.Settings>
  </applicationSettings>
	<ExcelXmlWriterStateSettings>
		<ColumnTypeMappings/>
		<ResultNames/>
		<ColumnsThatPreventNewWorksheets>
			<entry>
				<key keytype="System.String">column1</key>
				<value valuetype="System.String">a1</value>
			</entry>
		</ColumnsThatPreventNewWorksheets>
	</ExcelXmlWriterStateSettings>
  <userSettings>
    <ExcelXmlQueryResults.Settings1>
      <setting name="toolTipDelayBeforeFade" serializeAs="String">
        <value>20000</value>
      </setting>
    </ExcelXmlQueryResults.Settings1>
  </userSettings>
</configuration>
